<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Taskmaster :: Task</title>
</head>
<body>
    <div class="container">
        <a th:href="@{'/'}">Home</a>
        <div class="task">
            <h2 th:text="${task.title}"></h2>
            <h5 th:text="'Task by' + ${task.account.firstName}">Account</h5>
            <h5 th:text="'Created at ' + ${task.createdAt}">Created At</h5>
            <h5 th:text="'Updated at ' + ${task.updatedAt}">Updated At</h5>
            <h5 th:text="'Status ' + ${task.status}">Status</h5>
            <p th:text="${task.body}">body</p>
            <br/>
        </div>
        <ul sec:authorize="isAuthenticated()">
            <li><a th:href="@{'/tasks/' + ${task.id} + /edit'}">Edit</a></li>
            <li><a th:href="@{'/tasks/' + ${task.id} + /delete'}">Delete</a></li>
        </ul>
    </div>
</body>
</html>